:root {
    --text-nav: #FF0000;
    --text: #373737;
}

* {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    min-height: 78px;
}

.nav {
    margin: 0 auto;
    padding: 25px 0;
    width: 620px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.nav-link {
    color: var(--text-nav);
}

.screen-phone {
    height: 789px;
}

.about {
    min-height: 650px;
    padding: 48px 70px 42px 70px;
}

.title {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: var(--text);
    text-align: center;
}

.text {
    padding-top: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: var(--text);
}

.btn{
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    width: 191px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: white;
    background: var(--text-nav);
}

.footer {
    min-height: 108px;
    padding-top: 40px;
    padding-right: 105px;
}

.rights {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    color: var(--text);
}
